.top {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  &--centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
